.product-card{
    background-color: #c2c2d6;
    width: 250px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 5px double #14141f;
    margin: 20px;
}

.img-anarkli{
    width: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.text{
    color: #000000;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.img-puma{
    width: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.img-zara{
    width: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.img-sandal{
    width: 200px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.btn-add-to-card{
    background-color: #14141f;
    color: #e6e6e6;
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    margin: 20px;
    display: block;
    margin: 10px auto;

}